*{
    margin: 0;
    padding: 0;
}
.backtotop {
    position: fixed;
    bottom:20px;
    right: 50px;
    font-size: 4rem;
    border-radius: 50%;
    border: 2px solid white;
}

.navbar{
    height: 800px;
    background-color: rgb(127, 91, 161);
}
.navbar ul{
    align-items: center;
    text-align: center;
    justify-content: center;
    list-style:  none;
    display: flex;
    cursor: pointer;
}
.navbar ul li{
    margin-left: 20px;
}

.About{
    text-align: center;
    height: 600px;
    background-color: rgb(172, 172, 172);
}
.Contact{
    text-align: center;
    height: 600px;
    background-color: aquamarine;
}